html{
    background-color: black;
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
  
}

body {
    background-color: black !important;
}

 
.cardsh1{
    text-align: center;
    color:#f24e1e;
    padding-bottom: 50px; 
    font-weight: 800;
    margin-top: 100px;
}

.exp{
    color: #8db2c9;
    padding-bottom: 40px;
    font-family: 'Poppins', sans-serif;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    
}

.card-text{
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-title {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
}

.card-body{
    background-color: black;
    color: cornsilk;
    
}

.cards{
    background-color: black;
    transition: 0.3s;
    padding: 20px;
    border-left: 35px solid #f24e1e;
    border-bottom: 35px solid #f24e1e;
    border-top: 3px solid #f24e1e;
    border-right: 3px solid #f24e1e;
    border-radius: 75px;
    overflow: hidden;
}

.cards:hover {
    box-shadow: 0 8px 16px 0 #f24e1e;
}

.discover{
    color: #8db2c9;
    text-align: center;
    padding-top: 200px;
    letter-spacing: 0.1rem;
    font-weight: 500;
}
.world{
    font-weight: 900;
    padding-top: 50px;
    text-align: center;
    font-size: 55px;
    color: #a259ff;
    letter-spacing: 0.1rem;
}

.worldp {
    color: white;
    font-size: 17px;
    padding-top: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.02rem;
    font-family: 'Poppins', sans-serif;
}

.ready {
    background-color: black;
    transition: 0.3s;
    padding: 20px;
    border-top: 3px solid #0acf83;
    border-left: 35px solid #0acf83;
    border-bottom: 35px solid #0acf83;
    border-right: 3px #0acf83;
    border-radius: 75px;
    overflow: hidden;
    margin-top: 300px;
}
.ready:hover {
    box-shadow: 0 8px 16px 0 #0acf83;
}

.readyh1{
    color: #0acf83;
    text-align: center;
    
    
}

.exp2{
    color: white ;
    text-align: center;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}

.blank{
    width: 350px;
}

.roadmap1-p{
    color: #8db2c9;
    text-align: center;
    padding-top: 200px;
    letter-spacing: 0.1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.boxed{
    width: 425px;
    height: 650px;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    margin-top: 100px;
    padding: 25px;
    margin-left: 20px;
}


#box1 {
    background-color: black;
    transition: 0.3s;
    border-right: 35px solid #f24e1e;
    border-bottom: 35px solid #f24e1e;
    border-top: 3px solid #f24e1e;
    border-left: 3px solid #f24e1e;
    border-radius: 75px;
    overflow: hidden;
}
#box2 {
    background-color: black;
    transition: 0.3s;
    border-right: 35px solid #a259ff;
    border-bottom: 35px solid #a259ff;
    border-top: 3px solid #a259ff;
    border-left: 3px solid #a259ff;   
    border-radius: 75px;
    overflow: hidden;
}

#box3 {
    background-color: black;
    transition: 0.3s;
    border-right: 35px solid #0acf83;
    border-bottom: 35px solid #0acf83;
    border-top: 3px solid #0acf83;
    border-left: 3px solid #0acf83;
    border-radius: 75px;
    overflow: hidden;
}
#box1:hover {
    box-shadow: 0 8px 16px 0 #f24e1e;
}

#box2:hover {
    box-shadow: 0 8px 16px 0 #a259ff;
}

#box3:hover {
    box-shadow: 0 8px 16px 0 #0acf83;
}

.phase1{
    padding-left: 130px;
    color:#f24e1e;
}

.phase2{
    padding-left: 330px;
    color: #a259ff;
}

.phase3{
    padding-left: 350px;
    color: #0acf83;
}

ul {
    padding-top: 40px;
    list-style: none;
}


.list1 li {
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
    width: fit-content;
    border-color: #f24e1e ;
    color: white;
    padding-top: 20px;
    border-width: 1.2px;
    font-size: 17px;
    letter-spacing: 0.03rem;
    font-family: 'Poppins', sans-serif;
}

.list2 li {
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
    width: fit-content;
    border-color: #a259ff;
    color: white;
    padding-top: 20px;
    border-width: 1.2px;
    font-size: 17px;
    letter-spacing: 0.03rem;
    font-family: 'Poppins', sans-serif;
}

.list3 li {
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
    width: fit-content;
    border-color: #0acf83;
    color: white;
    padding-top: 20px;
    border-width: 1.2px;
    font-size: 17px;
    letter-spacing: 0.03rem;
    font-family: 'Poppins', sans-serif;
}

.list1 li::before {
    content: "\2022";
    color: #f24e1e ;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

.list2 li::before {
    content: "\2022";
    color: #a259ff;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.list3 li::before {
    content: "\2022";
    color: #0acf83;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

.title1 {
    text-align: center;
    color: #f24e1e;
    font-size: 22px;
    padding-top: 15px;
}

.title2 {
    text-align: center;
    color: #a259ff;
    font-size: 22px;
    padding-top: 15px;
}

.title3 {
    text-align: center;
    color: #0acf83;
    font-size: 22px;
    padding-top: 15px;
}

.dates1 {
    text-align: center;
    color: #f24e1e;
    font-size: 18px;
    letter-spacing: 0.05rem;
}

.dates2 {
    text-align: center;
    color: #a259ff;
    font-size: 18px;
    letter-spacing: 0.05rem;
}

.dates3 {
    text-align: center;
    color: #0acf83 ;
    font-size: 18px;
    letter-spacing: 0.05rem;
}

#row {
    margin-bottom: -75px;
    margin-left: 15px;
    margin-top: 200px;
    text-align: center;
}

.textp {
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
    letter-spacing: 0.05rem;
    font-family: 'Poppins', sans-serif;
}

.agp {
    text-align: center;
    color: white;
    letter-spacing: 0.08rem;
    font-size: 20px;
    margin-top: 200px;
    font-family: 'Poppins', sans-serif;
}

.support {
    text-align: center;
    color: #f24e1e;
    font-size:xxx-large ;
    margin-top: 35px;   
}

.img1 , .img2 , .img3 {
    width: 250px;
    height: 100px;
}

#rowblank {
    padding-left: 100px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.box {
    background-color: black;
    transition: 0.3s;
    border-right: 50px solid #a259ff;
    border-bottom: 50px solid #a259ff;
    border-top: 3px solid #a259ff;
    border-left: 3px solid #a259ff;   
    border-radius: 75px;
    overflow: hidden;
    width: 1300px;
    height: 600px;
}

.newsletter {
    text-align: center;
    color: white;
    margin-top: 75px;
    font-family: 'Poppins', sans-serif;
}

.newsletter2{
    text-align: center;
    color: white;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.joingang {
    text-align: center;
    color: #a259ff;
    font-size: 60px;
    margin-top: 30px;
}


.entermail {
    width: 400px;
    height: 50px;
    color: white;
    background-color: black;
    border-bottom: 3px solid white;
    border-top: black;
    border-left: black;
    border-right: black;
    margin-top: 120px;
    margin-left: 300px;
    font-family: 'Poppins', sans-serif;
}

.submit{
    width: 100px;
    height: 50px;
    color: white;
    background-color: black;
    border-bottom: 3px solid white;
    border-top: black;
    border-left: black;
    border-right: black;
}

#arrowicon {
    width: 50px;
}

.frequently {
    margin-top: 200px;
}
.quest {
    color: white;
    text-align: center;
    letter-spacing: 0.05rem;
    font-family: 'Poppins', sans-serif;
}

.questions {
    color: #a259ff;
    text-align: center;
    font-size: 55px;
}

.box4 {
  margin-top: 100px;
  padding: 25px;
  border-right: 3px solid #f24e1e;
  border-left: 15px solid #f24e1e;
  border-bottom: 15px solid #f24e1e;
  border-top: 3px solid #f24e1e;
  border-radius: 50px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.may {
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

